<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomerService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44314/CustomerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                contract="CustomerSvc.ICustomerService" name="WSHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>